html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f3f1f1;
}

.container {
    flex-basis: 80%;
}

.list__taskItem--done {
    text-decoration: line-through;
}